@media screen and (max-width: 992px) {
  nav {
    width: 90%;
  }
  #sec-1 > div {
    width: 90%;
  }
  #sec-2 > div {
    width: 90%;
  }
  #sec-3 > div {
    width: 90%;
  }
  #sec-4 > div {
    width: 90%;
  }
  #sec-5 > div {
    flex-direction: column;
  }
  #sec-52{
    width: 70%;
  }
  #sec-52 img{
    margin-left: 40%;
  }
  #sec-51{
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
  }
  #nav-title {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  #menu {
    display: flex;
    justify-content: center;
  }
  #sec-1 {
    height: fit-content;
    background-image: none;
  }
  #sec-1 > div {
    width: fit-content;
    flex-direction: column;
  }
  #sec-11 {
    width: 100%;
    padding: 60px 0;
    order: 1;
    background-image: url(images/Group\ 14.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
  #sec-11 > div {
    width: fit-content;
    margin: 0 auto;
  }
  #sec-12 {
    width: fit-content;
    height: fit-content;
    order: 0;
  }

  #sec-2 > div {
    flex-direction: column;
  }
  #sec-21 {
    width: 100%;
  }
  #sec-22 {
    width: 100%;
    text-align: center;
  }

  #sec-3 > div {
    grid-template-columns: repeat(2, 1fr);
  }
  #sec-4 > div {
    flex-direction: column;
  }
  #sec-42 {
    margin: 0 auto;
  }
  #sec-422 img {
    width: 12rem;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 576px) {
  #menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #menu a,
  span {
    margin: 10px 0;
  }
  #menu span {
    margin-left: 0;
    padding: 0 15px;
  }
  .fa-brands {
    margin-left: 15px;
  }
  #sec-11 {
    width: 100%;
    padding: 60px 0;
    order: 1;
    background-image: url(images/Group\ 14.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  #sec-3 > div {
    grid-template-columns: 1fr;
  }
}
