@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;700&family=Ubuntu&family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

nav {
  width: 80%;
  height: 80px;
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
}

#nav-title {
  display: flex;
  align-items: center;
}

#nav-title img {
  max-width: 60px;
  object-fit: cover;
}

#nav-title span {
  color: rgb(255, 66, 165);
}

#nav-title h1 {
  margin-left: 10px;
}

#menu {
  display: flex;
  align-items: center;
}

#menu a {
  text-decoration: none;
  margin-left: 15px;
}

#menu span {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: rgba(11, 2, 35, 0.1);
  padding: 5px 10px;
  margin-left: 15px;
}

#menu span h4 {
  font-size: 18px;
}

.fa-brands {
  font-size: 25px;
}

.fa-solid {
  margin-right: 5px;
  font-size: 15px;
}

#sec-1 {
  width: 100%;
  height: 600px;
  margin-top: 20px;
  background-image: url(images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#sec-1>div {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

#sec-11 {
  width: 50%;
  align-self: center;
}

#sec-11 h2 {
  font-size: 48px;
  font-weight: 600;
}
.btn2{
  border-radius: 48px;
background: #4EC5F7;
padding: 21px 40px;
border: none;
color: #ffffff;
font-weight: bold;
font-size: 18px;
}

.gnd {
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sec-11 li {
  font-size: 15px;
  font-weight: 500;
  margin: 15px 0;
  list-style: none;
}

.btn {
  margin-top: 20px;
  padding: 21px 40px;
  gap: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}

#sec-12 {
  width: 50%;
  height: 600px;
}

#sec-12 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* sec-2 part of css */
#sec-2 {
  width: 100%;
  background-color: rgb(252, 246, 252);
}

#sec-2>div {
  width: 80%;
  display: flex;
  margin: 0 auto;
  padding: 50px 0;
}

#sec-21 {
  width: 70%;
}

#sec-21 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#sec-22 {
  width: 40%;
  text-align: right;
  padding: 50px 0;
}

#sec-22 h1 {
  font-size: 45px;
  font-weight: 700;
  margin: 10px 0;
}

#sec-22 p {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}

#sec-22 h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
}

#sec-22 h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0;
}

/* sec 3 part of css */
#sec-3 h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin: 80px auto 20px;
}
#sec-3 h1 span {
  font-size: 48px;
  font-weight: 700;
}
#sec-3 h3 {
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  margin: 10px auto 50px;
}
#sec-3>div {
  margin: 0 auto;
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.card img {
  width: 100%;
  transition: 1s ease;
}
.img{
    position: relative;
    cursor: pointer;
    overflow: hidden; 
}
.overlay{
    position: absolute;
    display: flex;
    color: red;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    
}
.overlay i{
    margin-bottom: 1.5rem;
    font-size: 2.5em;
}

.img:hover .overlay{
    visibility: visible;
}

.img:hover img{
    transform: scale(1.1);
}



/* part 4 of css writen from here */
#sec-4>div {
  width: 80%;
  display: flex;
  margin: 100px auto;
}
#sec-41 {
  width: 50%;
  text-align: center;
  height: fit-content;
  align-self: center;
}
#sec-41>h1 {
  font-size: 44px;
  margin: 20px auto;
}
#sec-42 {
  width: 50%;
  height: fit-content;
}
#sec-42 {
  position: relative;
  padding: 50px 0;
}
#sec-421 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-left: 50px;
}
#sec-422 img {
  width: 15rem;
  height: 100%;
  object-fit: cover;
}
#sec-422 {
  position: absolute;
  bottom: -50px;
  left: -70px;
}


#sec-5 {
  background-color: rgb(255, 66, 165);
  color: white;
}
#sec-5>div {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
#sec-51 {
  width: 50%;
  height: fit-content;
  align-self: center;
  margin-left: 5%;
}
#sec-51 h1{
  font-size: 48px;
  font-weight: 700;
  margin: 20px 0;
}
#sec-51 p{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 30px;
}
#sec-511{
  display: inline;
  float: left;
}
#sec-51 button{
  border-radius: 48px;
background: #FFF;
padding: 15px 20px;
border: none;
font-size: 24px;
color: rgb(255, 66, 165);
margin-bottom: 1.5em;
}
#sec-512{
  text-align: right;
}
#sec-52 {
  width: 50%;
}
#sec-52 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


#sec-6{
  width: 80%;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
  border-radius: 30px;
  margin: 10px auto;
}
.box h3{
  padding: 0 15px;
}


.ftitle{
  width: fit-content;
  margin: auto;
  padding: 50px 0;
  display: flex;
}
.ftitle span{
  color: rgb(255, 66, 165)
}


footer{
  color: #ffffff;
  background: rgb(11, 2, 35);
}
#fmenu{
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
#fmenu a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
}
#fterms{
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
#fterms a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
  font-size: .8em;
}

#ficon{
  width: 50%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
#ficon .fa-brands{
  font-size: 2.5rem;
}
footer h2{
  width: fit-content;
  margin: auto;
  padding: 20px 0 50px;
  font-weight: 100;
  font-size: .8em;
  text-align: center;
}

.box:hover{
  border: 3px solid #ff42a5;
  color: #ff42a5;
}

